h1 {
	font-size: 50px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-start {
	margin-top: 1rem;
	max-width: 100rem;
}

.frame {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50rem;
	height: 25rem;
	border: solid;
	border-color: black;
	padding: 10px;
}

button {
	color: blue;
	border-color: blue;
	border-radius: 7px;
	background-color: rgb(255, 255, 255);
	padding: 6px 24px 6px 24px;
}

input {
	padding: 8px;
}

.blue {
	color: blue;
}
